@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300;600&family=Montserrat:wght@100..900&display=swap");

*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  color: #222;
  font-family: "Montserrat Alternates", system-ui;
  font-weight: 300;
}

.wrapper{
  width: 1280px;
  margin: 50px auto;
}